<center><strong><h1>UAS</h1></strong></center>
<p style="margin-left:31.5%;font-size:20px;font-weight:600;color:blue;">KAPITA SELEKTA KOMPUTASI</p>
<p style="margin-left:30%;font-size:20px;font-weight:600;">Maftuh Mashuri (11160940000076)</p>

# Import Modul Python

In [1]:
# Importing Some Python Modules
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline
plt.style.use('bmh'); sns.set()

In [ ]:
data = pd.read_csv('US_Accidents_May19.csv')

In [5]:
# start_date = '01-03-2019'
# end_date = '31-03-2019'
# data['Start_Time'] = pd.to_datetime(data['Start_Time'])
# mask = (data['Start_Time'] > start_date) & (data['Start_Time'] <= end_date)
# data_march2019 = data.loc[mask]
data_march2019 = data[data.Start_Time.str.match('^2019-03-.')]

In [6]:
data_march2019.sample(10)

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
532121,A-532122,MapQuest,201.0,3,2019-03-13 08:48:20,2019-03-13 09:32:41,39.681683,-111.839195,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
538952,A-538953,MapQuest,201.0,2,2019-03-18 08:17:43,2019-03-18 09:34:59,32.070183,-81.202385,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
560820,A-560821,MapQuest,201.0,2,2019-03-29 10:10:14,2019-03-29 10:54:57,33.715488,-84.349480,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
538263,A-538264,MapQuest,201.0,2,2019-03-18 08:32:41,2019-03-18 09:18:27,40.066799,-75.311050,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
521450,A-521451,MapQuest,201.0,2,2019-03-07 08:47:28,2019-03-07 09:16:59,29.511703,-98.535080,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
553297,A-553298,MapQuest,241.0,2,2019-03-26 14:43:06,2019-03-26 15:42:53,43.329929,-73.680710,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
541400,A-541401,MapQuest,201.0,2,2019-03-19 10:03:33,2019-03-19 11:18:58,30.233316,-97.874374,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day
550718,A-550719,MapQuest,201.0,2,2019-03-24 14:50:09,2019-03-24 15:19:41,33.852615,-84.369492,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
529584,A-529585,MapQuest,201.0,2,2019-03-12 11:17:24,2019-03-12 11:47:12,30.271290,-97.788406,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day
557909,A-557910,MapQuest,201.0,2,2019-03-28 07:51:01,2019-03-28 09:21:40,43.214050,-77.463112,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day

In [7]:
# Ukuran Data
N, P = data_march2019.shape
print('baris = ', N, ', Kolom = ', P)

data_march2019.info()

baris =  69381 , Kolom =  49
<class 'pandas.core.frame.DataFrame'>
Int64Index: 69381 entries, 512229 to 1980037
Data columns (total 49 columns):
ID                       69381 non-null object
Source                   69381 non-null object
TMC                      54564 non-null float64
Severity                 69381 non-null int64
Start_Time               69381 non-null object
End_Time                 69381 non-null object
Start_Lat                69381 non-null float64
Start_Lng                69381 non-null float64
End_Lat                  14817 non-null float64
End_Lng                  14817 non-null float64
Distance(mi)             69381 non-null float64
Description              69380 non-null object
Number                   26195 non-null float64
Street                   69381 non-null object
Side                     69381 non-null object
City                     69380 non-null object
County                   69381 non-null object
State                    69381 non-null object
Zipcode                  69354 non-null object
Country                  69381 non-null object
Timezone                 69250 non-null object
Airport_Code             68398 non-null object
Weather_Timestamp        67967 non-null object
Temperature(F)           67578 non-null float64
Wind_Chill(F)            21881 non-null float64
Humidity(%)              67519 non-null float64
Pressure(in)             67744 non-null float64
Visibility(mi)           67307 non-null float64
Wind_Direction           67966 non-null object
Wind_Speed(mph)          56111 non-null float64
Precipitation(in)        8243 non-null float64
Weather_Condition        67280 non-null object
Amenity                  69381 non-null bool
Bump                     69381 non-null bool
Crossing                 69381 non-null bool
Give_Way                 69381 non-null bool
Junction                 69381 non-null bool
No_Exit                  69381 non-null bool
Railway                  69381 non-null bool
Roundabout               69381 non-null bool
Station                  69381 non-null bool
Stop                     69381 non-null bool
Traffic_Calming          69381 non-null bool
Traffic_Signal           69381 non-null bool
Turning_Loop             69381 non-null bool
Sunrise_Sunset           69380 non-null object
Civil_Twilight           69380 non-null object
Nautical_Twilight        69380 non-null object
Astronomical_Twilight    69380 non-null object
dtypes: bool(13), float64(14), int64(1), object(21)
memory usage: 20.4+ MB

In [48]:
file_name_csv = 'US_Accidents_march2019.csv'
data_march2019.to_csv(file_name_csv)
# file_name_json = 'US_Accidents_march2019.json'
# data_march2019.to_json(file_name_json)

In [100]:
data_march2019_new = pd.read_csv('US_Accidents_march2019.csv')

In [101]:
data_march2019_new.head(10)

,Unnamed: 0,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,512229,A-512230,MapQuest,201.0,3,2019-03-03 09:53:41,2019-03-03 10:22:21,42.338089,-79.586700,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
1,512230,A-512231,MapQuest,201.0,3,2019-03-03 15:25:49,2019-03-03 15:55:22,42.743877,-78.845070,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
2,512231,A-512232,MapQuest,201.0,3,2019-03-03 17:36:46,2019-03-03 18:06:29,43.004314,-78.946648,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
3,512232,A-512233,MapQuest,201.0,3,2019-03-03 17:48:42,2019-03-03 18:18:20,43.074436,-78.990921,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
4,512233,A-512234,MapQuest,247.0,2,2019-03-03 17:54:31,2019-03-03 18:24:07,41.946899,-78.672333,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
5,512234,A-512235,MapQuest,201.0,3,2019-03-03 18:37:46,2019-03-03 19:07:21,42.461056,-79.306686,NaN,...,False,False,False,False,False,False,Night,Night,Day,Day
6,512235,A-512236,MapQuest,201.0,3,2019-03-03 19:04:40,2019-03-03 19:34:15,42.877087,-78.871170,NaN,...,False,False,False,False,False,False,Night,Night,Day,Day
7,512236,A-512237,MapQuest,241.0,2,2019-03-03 07:27:28,2019-03-03 07:56:31,41.800339,-71.440254,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
8,512237,A-512238,MapQuest,241.0,3,2019-03-03 07:37:18,2019-03-03 08:06:34,41.811039,-71.354225,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
9,512238,A-512239,MapQuest,241.0,2,2019-03-03 13:09:12,2019-03-03 13:38:35,41.811123,-71.440117,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day

In [102]:
# Ukuran Data
N, P = data_march2019_new.shape
print('baris = ', N, ', Kolom = ', P)

data_march2019_new.info()

baris =  69381 , Kolom =  50
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69381 entries, 0 to 69380
Data columns (total 50 columns):
Unnamed: 0               69381 non-null int64
ID                       69381 non-null object
Source                   69381 non-null object
TMC                      54564 non-null float64
Severity                 69381 non-null int64
Start_Time               69381 non-null object
End_Time                 69381 non-null object
Start_Lat                69381 non-null float64
Start_Lng                69381 non-null float64
End_Lat                  14817 non-null float64
End_Lng                  14817 non-null float64
Distance(mi)             69381 non-null float64
Description              69380 non-null object
Number                   26195 non-null float64
Street                   69381 non-null object
Side                     69381 non-null object
City                     69380 non-null object
County                   69381 non-null object
State                    69381 non-null object
Zipcode                  69354 non-null object
Country                  69381 non-null object
Timezone                 69250 non-null object
Airport_Code             68398 non-null object
Weather_Timestamp        67967 non-null object
Temperature(F)           67578 non-null float64
Wind_Chill(F)            21881 non-null float64
Humidity(%)              67519 non-null float64
Pressure(in)             67744 non-null float64
Visibility(mi)           67307 non-null float64
Wind_Direction           67966 non-null object
Wind_Speed(mph)          56111 non-null float64
Precipitation(in)        8243 non-null float64
Weather_Condition        67280 non-null object
Amenity                  69381 non-null bool
Bump                     69381 non-null bool
Crossing                 69381 non-null bool
Give_Way                 69381 non-null bool
Junction                 69381 non-null bool
No_Exit                  69381 non-null bool
Railway                  69381 non-null bool
Roundabout               69381 non-null bool
Station                  69381 non-null bool
Stop                     69381 non-null bool
Traffic_Calming          69381 non-null bool
Traffic_Signal           69381 non-null bool
Turning_Loop             69381 non-null bool
Sunrise_Sunset           69380 non-null object
Civil_Twilight           69380 non-null object
Nautical_Twilight        69380 non-null object
Astronomical_Twilight    69380 non-null object
dtypes: bool(13), float64(14), int64(2), object(21)
memory usage: 20.4+ MB

# Feature Selection

In [103]:
# Drop kolom pertama karena tidak berguna
column_drop = ['Unnamed: 0', "ID", "Source", "TMC", "Start_Lat", 
               "Start_Lng", "End_Lng", "Description", "End_Lat", 
               "Number", "Zipcode", "Country", "Timezone", 
               "Airport_Code", "Weather_Timestamp"]
data_march2019_new.drop(column_drop, axis=1, inplace=True)
data_march2019_new.dtypes

Severity                   int64
Start_Time                object
End_Time                  object
Distance(mi)             float64
Street                    object
Side                      object
City                      object
County                    object
State                     object
Temperature(F)           float64
Wind_Chill(F)            float64
Humidity(%)              float64
Pressure(in)             float64
Visibility(mi)           float64
Wind_Direction            object
Wind_Speed(mph)          float64
Precipitation(in)        float64
Weather_Condition         object
Amenity                     bool
Bump                        bool
Crossing                    bool
Give_Way                    bool
Junction                    bool
No_Exit                     bool
Railway                     bool
Roundabout                  bool
Station                     bool
Stop                        bool
Traffic_Calming             bool
Traffic_Signal              bool
Turning_Loop                bool
Sunrise_Sunset            object
Civil_Twilight            object
Nautical_Twilight         object
Astronomical_Twilight     object
dtype: object

In [104]:
# Drop kolom pertama karena tidak berguna
column_drop = ['Amenity', 'Bump', 'Crossing', 'Give_Way', 'Junction', 
               'No_Exit', 'Railway', 'Roundabout', 'Station', 'Stop', 
               'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop']
data_march2019_new.drop(column_drop, axis=1, inplace=True)
data_march2019_new.dtypes

Severity                   int64
Start_Time                object
End_Time                  object
Distance(mi)             float64
Street                    object
Side                      object
City                      object
County                    object
State                     object
Temperature(F)           float64
Wind_Chill(F)            float64
Humidity(%)              float64
Pressure(in)             float64
Visibility(mi)           float64
Wind_Direction            object
Wind_Speed(mph)          float64
Precipitation(in)        float64
Weather_Condition         object
Sunrise_Sunset            object
Civil_Twilight            object
Nautical_Twilight         object
Astronomical_Twilight     object
dtype: object

In [105]:
# Drop kolom pertama karena tidak berguna
column_drop = ['Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight', 'Astronomical_Twilight']
data_march2019_new.drop(column_drop, axis=1, inplace=True)
data_march2019_new.dtypes

Severity               int64
Start_Time            object
End_Time              object
Distance(mi)         float64
Street                object
Side                  object
City                  object
County                object
State                 object
Temperature(F)       float64
Wind_Chill(F)        float64
Humidity(%)          float64
Pressure(in)         float64
Visibility(mi)       float64
Wind_Direction        object
Wind_Speed(mph)      float64
Precipitation(in)    float64
Weather_Condition     object
dtype: object

In [106]:
data_march2019_new.sample(10)

,Severity,Start_Time,End_Time,Distance(mi),Street,Side,City,County,State,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Direction,Wind_Speed(mph),Precipitation(in),Weather_Condition
13613,2,2019-03-10 10:36:32,2019-03-10 11:20:38,0.000,Vineyard Ln,R,Dobson,Surry,NC,44.2,42.7,91.0,30.09,10.0,West,3.5,NaN,Overcast
55485,3,2019-03-05 09:30:00,2019-03-05 09:58:03,0.690,I-20 W,R,Fort Worth,Tarrant,TX,32.0,22.1,38.0,30.60,10.0,NNW,13.8,NaN,Clear
52290,3,2019-03-01 20:33:59,2019-03-01 21:03:25,0.000,Bells Road Access Rd,R,Richmond,Richmond City,VA,36.0,31.1,97.0,30.14,7.0,Variable,5.8,0.24,Overcast
18909,3,2019-03-13 06:15:44,2019-03-13 08:15:18,0.000,I-26 W,R,Columbia,Richland,SC,37.9,NaN,97.0,30.26,10.0,Calm,NaN,NaN,Clear
67287,2,2019-03-29 07:40:32,2019-03-29 08:10:07,0.612,Long Island Expy W,R,Huntington Station,Suffolk,NY,46.0,41.0,79.0,30.14,10.0,SW,10.4,NaN,Overcast
15637,2,2019-03-11 08:14:48,2019-03-11 09:14:34,0.000,N La Canada Dr,R,Tucson,Pima,AZ,55.8,NaN,60.0,29.83,10.0,East,15.0,NaN,Clear
40528,3,2019-03-25 17:53:19,2019-03-25 19:14:16,0.000,I-25 S,R,Denver,Denver,CO,55.9,NaN,26.0,30.24,10.0,North,8.1,NaN,Partly Cloudy
51563,3,2019-03-01 18:27:43,2019-03-01 18:57:03,0.000,I-81 N,R,Binghamton,Broome,NY,30.9,NaN,64.0,30.21,10.0,Calm,NaN,NaN,Clear
59705,2,2019-03-13 06:51:05,2019-03-13 07:20:55,0.415,I-95 S,R,Miami,Miami-Dade,FL,73.9,NaN,71.0,30.09,10.0,East,16.1,NaN,Mostly Cloudy
6348,2,2019-03-06 10:54:01,2019-03-06 11:53:42,0.000,Highway 9 E,R,Longs,Horry,SC,41.0,34.7,35.0,30.34,10.0,North,10.4,NaN,Clear

In [107]:
data_march2019_new['Start_Time'] = pd.to_datetime(data_march2019_new['Start_Time'])
data_march2019_new['End_Time'] = pd.to_datetime(data_march2019_new['End_Time'])

In [108]:
data_march2019_new['Severity'] = data_march2019_new['Severity'].astype('category')

In [109]:
data_march2019_new.dtypes

Severity                   category
Start_Time           datetime64[ns]
End_Time             datetime64[ns]
Distance(mi)                float64
Street                       object
Side                         object
City                         object
County                       object
State                        object
Temperature(F)              float64
Wind_Chill(F)               float64
Humidity(%)                 float64
Pressure(in)                float64
Visibility(mi)              float64
Wind_Direction               object
Wind_Speed(mph)             float64
Precipitation(in)           float64
Weather_Condition            object
dtype: object

In [110]:
# Statistika Sederhana dari data "Numerik"-nya
data_march2019_new.describe(include='all')

,Severity,Start_Time,End_Time,Distance(mi),Street,Side,City,County,State,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Direction,Wind_Speed(mph),Precipitation(in),Weather_Condition
count,69381.0,69381,69381,69381.000000,69381,69381,69380,69381,69381,67578.000000,21881.000000,67519.000000,67744.000000,67307.000000,67966,56111.000000,8243.000000,67280
unique,5.0,64751,64895,NaN,19838,2,4732,1021,49,NaN,NaN,NaN,NaN,NaN,18,NaN,NaN,38
top,2.0,2019-03-06 07:09:02,2019-03-29 09:46:03,NaN,I-5 N,R,Charlotte,Los Angeles,CA,NaN,NaN,NaN,NaN,NaN,Calm,NaN,NaN,Clear
freq,47051.0,19,13,NaN,807,55966,1929,4030,11648,NaN,NaN,NaN,NaN,NaN,10882,NaN,NaN,24233
first,NaN,2019-03-01 00:08:44,2019-03-01 00:49:46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,2019-03-31 23:57:31,2019-04-13 23:59:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,0.373003,NaN,NaN,NaN,NaN,NaN,49.572575,27.281239,62.393474,30.113463,9.164325,NaN,9.280995,0.028617,NaN
std,NaN,NaN,NaN,2.090839,NaN,NaN,NaN,NaN,NaN,16.102894,12.854571,22.870445,0.261797,2.696931,NaN,4.822908,0.060155,NaN
min,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,-20.200000,-35.700000,4.000000,0.000000,0.000000,NaN,1.200000,0.000000,NaN
25%,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,39.000000,21.700000,44.000000,30.000000,10.000000,NaN,5.800000,0.000000,NaN
50%,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,51.100000,30.000000,64.000000,30.120000,10.000000,NaN,8.100000,0.010000,NaN
75%,NaN,NaN,NaN,0.030000,NaN,NaN,NaN,NaN,NaN,61.000000,36.800000,82.000000,30.250000,10.000000,NaN,11.500000,0.030000,NaN
max,NaN,NaN,NaN,165.259995,NaN,NaN,NaN,NaN,NaN,170.600000,45.200000,100.000000,31.120000,90.000000,NaN,47.200000,1.430000,NaN

In [114]:
# Memilih hanya variable dengan tipe tertentu
data_num = data_march2019_new.select_dtypes(include = ['float64', 'int64'])
data_num.head()

,Distance(mi),Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in)
0,0.0,26.1,21.9,66.0,30.19,10.0,3.5,NaN
1,0.0,28.0,21.7,61.0,30.03,10.0,5.8,NaN
2,0.0,25.0,16.3,75.0,30.04,2.5,8.1,0.00
3,0.0,25.0,16.3,75.0,30.04,2.5,8.1,0.00
4,0.0,24.1,17.0,88.0,29.95,0.5,5.8,0.02

In [117]:
# Memilih hanya variable dengan tipe tertentu
data_obj = data_march2019_new.select_dtypes(include = ['category'])
data_obj.head()

  Severity
0        3
1        3
2        3
3        3
4        2

In [116]:
# Memilih hanya variable dengan tipe tertentu
data_obj = data_march2019_new.select_dtypes(include = ['object'])
data_obj.head()

,Street,Side,City,County,State,Wind_Direction,Weather_Condition
0,I-90 W,R,Westfield,Chautauqua,NY,WSW,Mostly Cloudy
1,I-90 W,R,Hamburg,Erie,NY,WSW,Overcast
2,I-190 N,R,Grand Island,Erie,NY,SSW,Light Snow
3,I-190 S,R,Niagara Falls,Niagara,NY,SSW,Light Snow
4,W Washington St,R,Bradford,McKean,PA,NNW,Snow