<center><strong><h1>UAS</h1></strong></center>
<p style="margin-left:31.5%;font-size:20px;font-weight:600;color:blue;">KAPITA SELEKTA KOMPUTASI</p>
<p style="margin-left:30%;font-size:20px;font-weight:600;">Maftuh Mashuri (11160940000076)</p>

# Import Modul Python

In [1]:
# Importing Some Python Modules
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline
plt.style.use('bmh'); sns.set()

In [2]:
data = pd.read_csv('US_Accidents_march2019.csv')

In [3]:
data.head(10)

,Unnamed: 0,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,512229,A-512230,MapQuest,201.0,3,2019-03-03 09:53:41,2019-03-03 10:22:21,42.338089,-79.586700,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
1,512230,A-512231,MapQuest,201.0,3,2019-03-03 15:25:49,2019-03-03 15:55:22,42.743877,-78.845070,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
2,512231,A-512232,MapQuest,201.0,3,2019-03-03 17:36:46,2019-03-03 18:06:29,43.004314,-78.946648,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
3,512232,A-512233,MapQuest,201.0,3,2019-03-03 17:48:42,2019-03-03 18:18:20,43.074436,-78.990921,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
4,512233,A-512234,MapQuest,247.0,2,2019-03-03 17:54:31,2019-03-03 18:24:07,41.946899,-78.672333,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
5,512234,A-512235,MapQuest,201.0,3,2019-03-03 18:37:46,2019-03-03 19:07:21,42.461056,-79.306686,NaN,...,False,False,False,False,False,False,Night,Night,Day,Day
6,512235,A-512236,MapQuest,201.0,3,2019-03-03 19:04:40,2019-03-03 19:34:15,42.877087,-78.871170,NaN,...,False,False,False,False,False,False,Night,Night,Day,Day
7,512236,A-512237,MapQuest,241.0,2,2019-03-03 07:27:28,2019-03-03 07:56:31,41.800339,-71.440254,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
8,512237,A-512238,MapQuest,241.0,3,2019-03-03 07:37:18,2019-03-03 08:06:34,41.811039,-71.354225,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
9,512238,A-512239,MapQuest,241.0,2,2019-03-03 13:09:12,2019-03-03 13:38:35,41.811123,-71.440117,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day

In [4]:
# Ukuran Data
N, P = data.shape
print('baris = ', N, ', Kolom = ', P)

data.info()

baris =  69381 , Kolom =  50
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69381 entries, 0 to 69380
Data columns (total 50 columns):
Unnamed: 0               69381 non-null int64
ID                       69381 non-null object
Source                   69381 non-null object
TMC                      54564 non-null float64
Severity                 69381 non-null int64
Start_Time               69381 non-null object
End_Time                 69381 non-null object
Start_Lat                69381 non-null float64
Start_Lng                69381 non-null float64
End_Lat                  14817 non-null float64
End_Lng                  14817 non-null float64
Distance(mi)             69381 non-null float64
Description              69380 non-null object
Number                   26195 non-null float64
Street                   69381 non-null object
Side                     69381 non-null object
City                     69380 non-null object
County                   69381 non-null object
State                    69381 non-null object
Zipcode                  69354 non-null object
Country                  69381 non-null object
Timezone                 69250 non-null object
Airport_Code             68398 non-null object
Weather_Timestamp        67967 non-null object
Temperature(F)           67578 non-null float64
Wind_Chill(F)            21881 non-null float64
Humidity(%)              67519 non-null float64
Pressure(in)             67744 non-null float64
Visibility(mi)           67307 non-null float64
Wind_Direction           67966 non-null object
Wind_Speed(mph)          56111 non-null float64
Precipitation(in)        8243 non-null float64
Weather_Condition        67280 non-null object
Amenity                  69381 non-null bool
Bump                     69381 non-null bool
Crossing                 69381 non-null bool
Give_Way                 69381 non-null bool
Junction                 69381 non-null bool
No_Exit                  69381 non-null bool
Railway                  69381 non-null bool
Roundabout               69381 non-null bool
Station                  69381 non-null bool
Stop                     69381 non-null bool
Traffic_Calming          69381 non-null bool
Traffic_Signal           69381 non-null bool
Turning_Loop             69381 non-null bool
Sunrise_Sunset           69380 non-null object
Civil_Twilight           69380 non-null object
Nautical_Twilight        69380 non-null object
Astronomical_Twilight    69380 non-null object
dtypes: bool(13), float64(14), int64(2), object(21)
memory usage: 20.4+ MB

# Feature Selection

In [5]:
# Drop kolom pertama karena tidak berguna
column_drop = ['Unnamed: 0', "ID", "Source", "TMC", "Start_Lat", 
               "Start_Lng", "End_Lng", "Description", "End_Lat", 
               "Number", "Zipcode", "Country", "Timezone", 
               "Airport_Code", "Weather_Timestamp"]
data.drop(column_drop, axis=1, inplace=True)
data.dtypes

Severity                   int64
Start_Time                object
End_Time                  object
Distance(mi)             float64
Street                    object
Side                      object
City                      object
County                    object
State                     object
Temperature(F)           float64
Wind_Chill(F)            float64
Humidity(%)              float64
Pressure(in)             float64
Visibility(mi)           float64
Wind_Direction            object
Wind_Speed(mph)          float64
Precipitation(in)        float64
Weather_Condition         object
Amenity                     bool
Bump                        bool
Crossing                    bool
Give_Way                    bool
Junction                    bool
No_Exit                     bool
Railway                     bool
Roundabout                  bool
Station                     bool
Stop                        bool
Traffic_Calming             bool
Traffic_Signal              bool
Turning_Loop                bool
Sunrise_Sunset            object
Civil_Twilight            object
Nautical_Twilight         object
Astronomical_Twilight     object
dtype: object

In [6]:
# Drop kolom pertama karena tidak berguna
column_drop = ['Amenity', 'Bump', 'Crossing', 'Give_Way', 'Junction', 
               'No_Exit', 'Railway', 'Roundabout', 'Station', 'Stop', 
               'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop']
data.drop(column_drop, axis=1, inplace=True)
data.dtypes

Severity                   int64
Start_Time                object
End_Time                  object
Distance(mi)             float64
Street                    object
Side                      object
City                      object
County                    object
State                     object
Temperature(F)           float64
Wind_Chill(F)            float64
Humidity(%)              float64
Pressure(in)             float64
Visibility(mi)           float64
Wind_Direction            object
Wind_Speed(mph)          float64
Precipitation(in)        float64
Weather_Condition         object
Sunrise_Sunset            object
Civil_Twilight            object
Nautical_Twilight         object
Astronomical_Twilight     object
dtype: object

In [7]:
# Drop kolom pertama karena tidak berguna
column_drop = ['Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight', 'Astronomical_Twilight']
data.drop(column_drop, axis=1, inplace=True)
data.dtypes

Severity               int64
Start_Time            object
End_Time              object
Distance(mi)         float64
Street                object
Side                  object
City                  object
County                object
State                 object
Temperature(F)       float64
Wind_Chill(F)        float64
Humidity(%)          float64
Pressure(in)         float64
Visibility(mi)       float64
Wind_Direction        object
Wind_Speed(mph)      float64
Precipitation(in)    float64
Weather_Condition     object
dtype: object

In [8]:
data.sample(10)

,Severity,Start_Time,End_Time,Distance(mi),Street,Side,City,County,State,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Direction,Wind_Speed(mph),Precipitation(in),Weather_Condition
27386,2,2019-03-18 05:27:15,2019-03-18 05:56:16,0.000,I-10 E,R,Goodyear,Maricopa,AZ,55.4,NaN,67.0,30.00,10.0,North,9.2,NaN,Clear
38601,3,2019-03-24 17:24:28,2019-03-24 19:24:58,0.000,S 10th St,L,Baton Rouge,East Baton Rouge,LA,75.0,NaN,53.0,30.10,10.0,SSW,11.5,NaN,Overcast
44353,2,2019-03-27 06:59:37,2019-03-27 08:15:30,0.000,Moselle Rd,L,Ehrhardt,Colleton,SC,41.0,36.4,61.0,30.33,10.0,NNE,6.9,NaN,Clear
54741,2,2019-03-04 15:14:17,2019-03-04 15:44:10,0.244,I-4 W,R,Debary,Volusia,FL,82.0,NaN,56.0,29.90,10.0,West,17.3,NaN,Mostly Cloudy
8810,3,2019-03-07 12:32:18,2019-03-07 13:01:06,0.000,Chamblee Tucker Rd,R,Atlanta,DeKalb,GA,54.0,NaN,19.0,30.35,10.0,SSW,5.8,NaN,Clear
56753,2,2019-03-07 08:30:00,2019-03-07 10:00:00,0.286,S Highway 89,R,Mantua,Box Elder,UT,34.7,31.8,92.0,29.91,10.0,NNE,3.5,NaN,Overcast
34631,3,2019-03-21 14:51:13,2019-03-21 15:35:19,0.000,I-5 N,R,Seattle,King,WA,59.0,NaN,58.0,30.04,10.0,SSW,8.1,NaN,Clear
51446,2,2019-03-31 20:46:07,2019-03-31 22:22:49,0.000,Golden State Fwy N,R,Los Angeles,Los Angeles,CA,68.0,NaN,35.0,29.97,10.0,Calm,NaN,NaN,Clear
48708,3,2019-03-29 18:28:22,2019-03-29 19:43:35,5.870,Augusta Rd,R,Lexington,Lexington,SC,73.9,NaN,26.0,30.09,10.0,SSW,5.8,NaN,Mostly Cloudy
31667,3,2019-03-20 07:12:28,2019-03-20 08:12:12,0.000,I-30 W,R,Dallas,Dallas,TX,53.1,NaN,69.0,30.20,10.0,Calm,NaN,NaN,Mostly Cloudy

In [9]:
data['Start_Time'] = pd.to_datetime(data['Start_Time'])
data['End_Time'] = pd.to_datetime(data['End_Time'])

In [10]:
data['Severity'] = data['Severity'].astype('category')

In [11]:
data.dtypes

Severity                   category
Start_Time           datetime64[ns]
End_Time             datetime64[ns]
Distance(mi)                float64
Street                       object
Side                         object
City                         object
County                       object
State                        object
Temperature(F)              float64
Wind_Chill(F)               float64
Humidity(%)                 float64
Pressure(in)                float64
Visibility(mi)              float64
Wind_Direction               object
Wind_Speed(mph)             float64
Precipitation(in)           float64
Weather_Condition            object
dtype: object

In [12]:
# Statistika Sederhana dari data "Numerik"-nya
data.describe(include='all')

,Severity,Start_Time,End_Time,Distance(mi),Street,Side,City,County,State,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Direction,Wind_Speed(mph),Precipitation(in),Weather_Condition
count,69381.0,69381,69381,69381.000000,69381,69381,69380,69381,69381,67578.000000,21881.000000,67519.000000,67744.000000,67307.000000,67966,56111.000000,8243.000000,67280
unique,5.0,64751,64895,NaN,19838,2,4732,1021,49,NaN,NaN,NaN,NaN,NaN,18,NaN,NaN,38
top,2.0,2019-03-06 07:09:02,2019-03-29 09:46:03,NaN,I-5 N,R,Charlotte,Los Angeles,CA,NaN,NaN,NaN,NaN,NaN,Calm,NaN,NaN,Clear
freq,47051.0,19,13,NaN,807,55966,1929,4030,11648,NaN,NaN,NaN,NaN,NaN,10882,NaN,NaN,24233
first,NaN,2019-03-01 00:08:44,2019-03-01 00:49:46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,2019-03-31 23:57:31,2019-04-13 23:59:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,0.373003,NaN,NaN,NaN,NaN,NaN,49.572575,27.281239,62.393474,30.113463,9.164325,NaN,9.280995,0.028617,NaN
std,NaN,NaN,NaN,2.090839,NaN,NaN,NaN,NaN,NaN,16.102894,12.854571,22.870445,0.261797,2.696931,NaN,4.822908,0.060155,NaN
min,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,-20.200000,-35.700000,4.000000,0.000000,0.000000,NaN,1.200000,0.000000,NaN
25%,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,39.000000,21.700000,44.000000,30.000000,10.000000,NaN,5.800000,0.000000,NaN
50%,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,51.100000,30.000000,64.000000,30.120000,10.000000,NaN,8.100000,0.010000,NaN
75%,NaN,NaN,NaN,0.030000,NaN,NaN,NaN,NaN,NaN,61.000000,36.800000,82.000000,30.250000,10.000000,NaN,11.500000,0.030000,NaN
max,NaN,NaN,NaN,165.259995,NaN,NaN,NaN,NaN,NaN,170.600000,45.200000,100.000000,31.120000,90.000000,NaN,47.200000,1.430000,NaN

In [13]:
# Memilih hanya variable dengan tipe tertentu
data_num = data.select_dtypes(include = ['float64', 'int64'])
data_num.head()

,Distance(mi),Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in)
0,0.0,26.1,21.9,66.0,30.19,10.0,3.5,NaN
1,0.0,28.0,21.7,61.0,30.03,10.0,5.8,NaN
2,0.0,25.0,16.3,75.0,30.04,2.5,8.1,0.00
3,0.0,25.0,16.3,75.0,30.04,2.5,8.1,0.00
4,0.0,24.1,17.0,88.0,29.95,0.5,5.8,0.02

In [14]:
# Memilih hanya variable dengan tipe tertentu
data_obj = data.select_dtypes(include = ['category'])
data_obj.head()

  Severity
0        3
1        3
2        3
3        3
4        2

In [15]:
# Memilih hanya variable dengan tipe tertentu
data_obj = data.select_dtypes(include = ['object'])
data_obj.head()

,Street,Side,City,County,State,Wind_Direction,Weather_Condition
0,I-90 W,R,Westfield,Chautauqua,NY,WSW,Mostly Cloudy
1,I-90 W,R,Hamburg,Erie,NY,WSW,Overcast
2,I-190 N,R,Grand Island,Erie,NY,SSW,Light Snow
3,I-190 S,R,Niagara Falls,Niagara,NY,SSW,Light Snow
4,W Washington St,R,Bradford,McKean,PA,NNW,Snow